<div class="container">
  <h1>採血結果</h1>
  <div class="row">
    <div class="col-md-4">
    <% @inputbloods.each do |inputblood| %>
    <div class="mb-2">
      <div class="card" style="width: 18rem;">
        <h2>日付：<b><%= inputblood.date %></b></h2>
        <h2>白血球：<b><%= inputblood.leukocyte %></b></h2>
        <h2>SEG：<b><%= inputblood.seg %></b></h2>
        <h2>好中球：<b><%= (inputblood.leukocyte).to_i * (inputblood.seg).to_i %></b></h2>
      </div>
    </div>
    <% end %>
  </div>

    <div class="col-md-8">
      <aside><section>
        <canvas id="myChart" width="1000" height="700"></canvas>
      </section></aside>
      </div>
    <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: gon.labels,
            datasets: [{
                label: "好中球数",
                data: gon.koutyuukyuu,
                backgroundColor: 'rgba(255, 99, 132, 1.0)',
                borderColor: 'rgba(255, 50, 132, 1.0)',
                fill: false
            }]
        },
        options: {
            title:  {
              display: true,
              text: "タイトル"
            }
        }
    });
    </script>
  </div>
</div>
