<div class="container">
  <h1>採血結果</h1>
  <div class="row">
    <% @inputbloods.each do |inputblood| %>
      <h2>日付：<b><%= inputblood.date %></b></h2>
      <h2>白血球：<b><%= inputblood.leukocyte %></b></h2>
      <h2>SEG：<b><%= inputblood.seg %></b></h2>
    <% end %>

    <canvas id="myChart" width="900" height="400"></canvas>
    <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [1,2,3,4,5],
            datasets: [{
                label: "サンプル",
                data: [1,2,3,4,5],
                backgroundColor: 'rgba(255, 99, 132, 1.0)',
                borderColor: 'rgba(255, 50, 132, 1.0)',
                fill: false
            }]
        },
        options: {
            title:  {
              display: true,
              text: "タイトル"
            }
        }
    });
    </script>
  </div>
</div>
