<div class="container">
  <h1>採血結果</h1>
  <div class="row">
    <% @inputbloods.each do |inputblood| %>
      <h2>日付：<b><%= inputblood.date %></b></h2>
      <h2>白血球：<b><%= inputblood.leukocyte %></b></h2>
      <h2>SEG：<b><%= inputblood.seg %></b></h2>
    <% end %>
  </div>
</div>
