<!DOCTYPE html>
<div class="center jumbotron">
  <%= render 'layouts/header' %>
  <h1>BloodQuery</h1>
  <h2>採血結果を入力してください</h2>
  <%= link_to "採血結果はこちらから！", new_inputblood_path, class: "btn btn_lg btn-primary" %>
</div>
